@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}
/* custom material ui */
.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
    display: none !important;
}
.MuiSvgIcon-fontSizeSmall {
    font-size: 16px !important;
}

.MuiTypography-body1 {
    color: rgba(0,0,0,.8) !important;
    font-size: 14px !important;
    font-weight: unset !important;
}

.MuiFormControlLabel-root {
    margin-right: 0 !important;
    height: 16px !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #ee4d2d !important;
}